<!-- <p id="notice"><%= notice %></p> -->

<table>
	<tr>
  <th>Name:</th>
<td>  <%= @idea.name %>
</td></tr>

	<tr>
  <th>Picture</th>
<td> 
<!-- <%= image_tag(@idea.picture_url,# :width => 600) if @idea.picture.present? %> --> 
</td></tr>

<tr>
  <th>Question:</th>
 <td> <%= @idea.question %></td>
</tr>

<p>
  <b>Answer:</b>
  <%= @idea.answer %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
